# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# pyenv
.python-version

# venv
encoders/venv

# PyCharm
.idea/
*.iml
*.iws

# Logs
temporary_files/data.log

# Notes
temporary_files/notes.py
temporary_files/notes.txt

# Learning Data
/learning_data/numbers/
